body, html {
    background-color: rgb(32, 32, 32);
}

html {
    border-top: 3px solid #00CC0A;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0 auto;
}

.header {
    display: inline-block;
    text-align: center;
}

.logo {
    display: inline;
    padding-right: 0;
    padding-top: 5px;
}

.title {
    font-size: 15pt;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline;
}

input {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    color: white;
    outline: none;
    width: 270px;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

input:focus {
    background-color: rgb(45, 45, 45);
}

.date::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

#buttonimage:hover {
    content: url("images/Search_Hover.png");
}

.filter-div {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.filter {
    background-color: rgb(45, 45, 45);
    border: none;
    color: rgb(167, 167, 167);
    margin-left: 5px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    width: 65px;
    height: 65px;
    padding: 0;
    border-radius: 50px;
    cursor: pointer;
}

#image1:hover {
    content: url("images/FamilySearch_Hover.png");
}

#image2:hover {
    content: url("images/Ancestory_Hover.png");
}

#image3:hover {
    content: url("images/Census_Hover.png");
}